@charset "UTF-8";

:root {
  --cor-bg-principal: #eee7ef;
  --cor-bg-secundaria: #fff;
  --cor-principal: #a83a3c;
  --branco: #FFF;
  --preto: #000;
}

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

/* GLOBAL */

@font-face {
  font-family: Comfortaa;
  src: url(Comfortaa.ttf);
}

/* MODAL */

.outubrorosa {
  width: 100%;
  height: 60vh;
  border-radius: 5px;
}

.nabutton {
  width: 100%;
  background-color: #0089cf;
  color: #fff;
  letter-spacing: 1px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}

.nabutton:hover {
  background-color: #001954;
}

/* FIM MODAL */

body {
  font-family: "Comfortaa", sans-serif;
  position: relative;
  background-color: var(--branco);
}

a {
  color: #e38cb7;
}

a:hover,
a:focus {
  color: #d6619c;
  text-decoration: none;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -1px;
  margin-bottom: 1rem;
  color: #a83a3c;
}

h2 {
  font-size: 45px;
  font-weight: 300;
  color: #633991;
  letter-spacing: -1px;
  margin-bottom: 1rem;
}

h3 {
  color: #a83a3c;
  font-size: 33px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  color: #633991;
}

h5 {
  font-size: 28px;
  font-weight: 400;
  color: #922a2c;
  margin-bottom: 0.7rem;
}

p {
  color: #959094;
}

.text-primary {
  color: #e38cb7 !important;
}

.light-font {
  font-weight: 300;
}

.btn {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.375rem 1.35rem;
  transition: all 0.3s ease;
}

.btn-outline-light:hover {
  color: #d6619c;
}

.btn-primary {
  border-radius: 3px;
  background-image: -moz-linear-gradient(122deg, #e54595 0%, #fd378e 100%);
  background-image: -webkit-linear-gradient(122deg, #e54595 0%, #fd378e 100%);
  background-image: -ms-linear-gradient(122deg, #e54595 0%, #fd378e 100%);
  background-image: linear-gradient(122deg, #e54595 0%, #fd378e 100%);
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  padding: 0.6rem 2rem;
  border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background-image: linear-gradient(122deg, #fd378e 0%, #e54595 100%);
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.btn-light {
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
  font-size: 14px;
  font-weight: 500;
  color: #633991;
  margin: 0.5rem;
  padding: 0.7rem 1.6rem;
  line-height: 1.8;
}

.btn-group-lg>.btn,
.btn-lg {
  padding: 0.8rem 1rem;
  font-size: 15px;
}

.light-bg {
  background-color: #faf6fb;
}

.section {
  padding: 100px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 3rem;
}

.section-title small {
  font-size: 18px;
  color: #998a9b;
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }
}

/* NAVBAR */

.line {
  background-color: var(--cor-principal);
  height: 10px;
}

.nav-menu {
  transition: all 0.3s ease;
  background-color: var(--branco);
  /* box-shadow: 0px 0px 23px 0px #782526; */
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
}

.nav-menu.is-scrolling {
  padding: 0;
  /* background-color: #faf6fb; */
}

.navbar-nav .nav-link {
  color: #2A2A2A !important;
  position: relative;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 14px;
  margin: 0 5px;
}

.nav-link.active {
  color: var(--cor-principal) !important;
  font-weight: bold;
}

.nav-link:hover {
  transition: all 0.2s ease-in-out;
  scale: 1.05;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 14px;
    color: #fff;
  }

  .navbar-nav>.nav-item>.nav-link.active:after {
    content: "";
    border-bottom: 2px solid var(--cor-principal);
    left: 0.4rem;
    right: 0.5rem;
    bottom: 5px;
    height: 1px;
    position: absolute;
  }
}

@media (max-width: 991px) {
  .navbar-nav.is-scrolling {
    padding-bottom: 1rem;
  }

  .navbar-nav .nav-item {
    text-align: center;
  }

  .navbar {
    padding-left: 0;
  }
}

/* FIM NAVBAR */

/* BANNER */

header {
  text-align: center;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--cor-bg-principal);
  /* border-bottom: 2px solid #e4dbe5; */
}

.home {
  padding: 98px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home .title {
  color: var(--cor-principal);
  font-weight: bold;
  letter-spacing: -2px;
}

.home .tagline {
  font-size: 23px;
  font-weight: 300;
  color: var(--cor-principal);
  max-width: 800px;
  margin: 0 auto;
}

.home .gossip-btn {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px 40px;
  border: none;
  border-radius: 35px;
  color: #fff;
  background-color: #922a2c;
  cursor: pointer;
}

.home .gossip-btn:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
}

.home-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .fofocando {
  width: 110%;
}

@media (max-width: 1200px) {
  .img-holder {
    padding-bottom: 50%;
  }
}

@media (max-width: 767px) {
  .home {
    flex-direction: column;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 198px;
  }

  .home-left {
    width: 100%;
  }

  .home .tagline {
    font-size: 16px;
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto;
  }

  .home-right {
    width: 80%;
  }

  .home .fofocando {
    width: 100%;
  }
}

/* FIM BANNER */

/* EPISODIOS  */

.episodios {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--cor-bg-secundaria);
}

.episodios .title {
  font-size: 36px;
  line-height: 0;
  color: #a83a3c;
}

.episodios .desc {
  font-size: 20px;
  color: pink;
}

.episodios-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.episodios-area-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.banner-episodio {
  width: 548px;
  height: 364px;
  border-radius: 3px;
}

.episodios-area-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.desc-title {
  font-size: 44px;
}

.episodio-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.desc-desc {
  text-align: start;
}

.desc-hosts {
  display: flex;
}

.hots-left img {
  border-radius: 50%;
}

.desc-desc {
  margin-top: 15px;
  margin-left: 3px;
}

.hosts-right {
  margin-top: 6px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.hosts-right .hosts {
  font-size: 10px;
}

.hosts-right .userhost {
  font-weight: 600;
}

.button-assistir {
  margin-top: 15px;
  width: 130px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  letter-spacing: 3px;
  background-color: var(--cor-principal);
  color: var(--branco);
  border-radius: 3px;
  border: 2px solid #d55658;
  cursor: pointer;
}

.button-assistir:hover {
  background-color: #d55658;
}



@media (max-width: 1200px) {
  .banner-episodio {
    width: 90%;
    height: 240px;
  }
  .episodios-area-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .episodios-area-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .desc-title {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .episodios-area-left {
    width: 100%;
  }
  .banner-episodio {
    width: 75%;
    height: 260px;
  }
  .episodios-area {
    flex-direction: column;
  }
  .episodios-area-right {
    margin-top: 30px;
    width: 75%;
  }
  .desc-title {
    font-size: 34px;
    line-height: 35px;
    padding: 0;
    margin: 0;
  }
  .episodio-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .desc-desc {
    text-align: center;
  }
}

@media (max-width: 430px) {
  .episodios-area-left {
    width: 100%;
  }
  .banner-episodio {
    width: 90%;
    height: 200px;
  }
  .episodios-area {
    flex-direction: column;
  }
  .episodios-area-right {
    margin-top: 20px;
    width: 90%;
  }
  .desc-title {
    font-size: 28px;
    line-height: 35px;
    padding: 0;
    margin: 0;
  }
  .episodio-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .desc-desc {
    text-align: center;
  }
}

/* FIM EPISODIOS */

/* GALERIA */

#galeria {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--cor-bg-principal);
}

#galeria .desc {
  font-size: 20px;
  color: #a83a3c;
}

#galeria .title {
  font-size: 36px;
  line-height: 0;
  color: var(--cor-principal);
}

#galeria img {
  border-radius: 5px;
}

/* FIM GALERIA */

/* EQUIPE */

#equipe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--cor-bg-secundaria);
}

#equipe .desc {
  font-size: 20px;
  color: pink;
}

#equipe .title {
  font-size: 36px;
  line-height: 0;
  color: var(--cor-principal);
}

.owl-carousel .owl-item img.client-img {
  width: 110px;
  margin: 30px auto;
  border-radius: 50%;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

.pessoas-single {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.descricao {
  color: var(--cor-principal);
  font-weight: 300;
}

.owl-next.disabled,
.owl-prev.disabled {
  opacity: 0.5;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 24px;
  color: var(--cor-principal);
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 60px;
}

.owl-theme .owl-dots .owl-dot span {
  background: #e7d9eb;
  width: 35px;
  height: 8px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background: #a83a3c;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #fff;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

.img-gallery .owl-item {
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
  transform: scale(0.8);
  transition: all 0.3s ease-in;
  padding: 5px;
}

.img-gallery .owl-item.center {
  transform: scale(1);
}

/* FIM EQUIPE */

/* SOBRE */

#sobre {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--cor-bg-principal);
}

#sobre .title {
  font-size: 36px;
  line-height: 0;
  color: #a83a3c;
}

#sobre .desc {
  font-size: 20px;
  color: pink;
}

.sobre-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-area-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 50px;
}

.banner-sobre {
  width: 548px;
  height: 364px;
  border-radius: 5px;
}

.sobre-area-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.desc-title {
  font-size: 44px;
}

.sobre-desc {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.desc-desc {
  text-align: start;
}


.hots-left img {
  border-radius: 50%;
}

.desc-desc {
  margin-top: 15px;
  margin-left: 3px;
}

.sociais {
  display: flex;
  flex-direction: row;
}

.sociais-icon {
  margin-top: 10px;
  font-size: 25px;
  color: var(--cor-principal);
  margin-right: 5px;
}


@media (max-width: 1200px) {
  .banner-sobre {
    width: 95%;
  }
  .sobre-area-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .sobre-area-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .desc-title {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .sobre-area-left {
    width: 100%;
  }
  .banner-sobre {
    width: 75%;
    height: 260px;
  }
  .sobre-area {
    flex-direction: column;
  }
  .sobre-area-right {
    margin-top: 30px;
    width: 75%;
  }
  .desc-title {
    font-size: 34px;
    line-height: 35px;
    padding: 0;
    margin: 0;
  }
  .sobre-desc {
    width: 88%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .desc-desc {
    text-align:center;
  }
}

@media (max-width: 430px) {
  .sobre-area-left {
    width: 100%;
  }
  .banner-sobre {
    width: 90%;
    height: 200px;
  }
  .sobre-area {
    flex-direction: column;
  }
  .sobre-area-right {
    margin-top: 20px;
    width: 90%;
  }
  .desc-title {
    font-size: 28px;
    line-height: 35px;
    padding: 0;
    margin: 0;
  }
  .episodio-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .desc-desc {
    text-align: center;
  }
}


/* FIM SOBRE */

/* RODAPE */

.footer-text {
  padding: 15px;
  color: #e38cb7;
}

.apoio {
  display: block;
  font-size: 16px;
  line-height: 15px;
  color: #005caa;
  font-weight: bold;
}

.senai {
  margin-bottom: 5px;
}

.podgossip {
  font-weight: bold;
}


/* FIM RODAPE */

/* BTN SUBIR */

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
  z-index: 999;
  visibility: hidden;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* FIM BTN SUBIR */

/* .social-icons {
  text-align: center;
}

.social-icons a {
  background-color: #fff;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
  width: 50px;
  height: 50px;
  font-size: 25px;
  display: inline-block;
  text-align: center;
  line-height: 55px;
  margin: 0 0.3rem;
  border-radius: 5px;
  color: #a83a3c;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  text-decoration: none;
  color: #e38cb7;
}

@media (max-width: 991px) {
  .social-icons {
    text-align: center;
    margin-top: 2rem;
  }
} */

/* FIM RODAPE */